.text-blue{
    color: rgb(1, 1, 61);
}
.card-body{
    height: fit-content;
    .card-text{
        text-align: left;
        font-size: 14px;
        font-weight: bold;
    }
    .d-flex{
        .category{
            width: fit-content;
            padding: 2px;
            border-radius: 5px;
            font-size: 12px;
        }

        .date{
            color: grey;
            font-size: 12px;
        }
    }
}