.bg-blue {
    background: linear-gradient(0.25turn, #091768, #066779, #00E895);
    height: 50px;
}
.bg-grey{
    background-color: rgb(211, 211, 211,0.3);
}
.text-blue {
    color: #091768;
}

.fa-arrow-left{
    cursor: pointer;
}

.lega{
    border: 1px solid lightgray;
    height: auto;
    cursor: pointer;
}