.lega {
    height: 280px;
}

.bg-blue {
    background: linear-gradient(#091768, #066779, #00E895);
}

.text-blue {
    color: #091768;
}

.bg-grey {
    background-color: rgb(211, 211, 211, 0.1);
}

.image-logo{
    margin-top: 100px;
}

.componenti{
    .col-lg-4{
        cursor: pointer;
    }
}

@media screen and (max-width:768px) {
    .image-logo{
        width: 200px;
        margin-top: 130px;
    }
}

.box-team {
    h6 {
        text-transform: uppercase;
    }
}

.myRosa{
    font-size: 11px;
}

.infoTeam {
    background-color: rgb(211, 211, 211, 0.4);
    font-weight: 500;

    span {
        font-weight: normal;
        font-size: 13px
    }
}

#err {
    font-size: 12px;
    background-color: orange;
}

.fa-cog,
.fa-pencil-alt{
    cursor: pointer;
}

.fa-pencil-alt {
    position: absolute;
    top: -30px;
    right: 0;
}

.fa-cog {
    position: absolute;
    top: -30px;
    left: 0;
}

.info {
    margin: 80px;

    i {
        font-size: 20px;
        margin-bottom: 10px;
    }

    p {
        font-size: 15px;
    }
}

.container-choose {
    .col-4 {
        .d-flex {
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 60px;
            margin-bottom: 20px;
            background-color: white;
            border-radius: 10px;

            i {
                font-size: 18px;
                margin-bottom: 10px;
            }

            span {
                font-size: 13px;
            }
        }
    }
}

// LOADING
.container-rotate {
    background: linear-gradient(0.25turn, #091768, #066779, #00E895);

    .rotate {
        animation: ruota 1s ease-in-out infinite;
        height: auto;
        width: 100px;
    }
}

@keyframes ruota {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
