.player_img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.container-fluid {
    form {
        input {
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #091768;
            margin-left: 5px;
        }

        input[type=search]:focus {
            outline: none;
        }
    }

    .fa-search {
        font-size: 14px;
        color: #091768;
        top: 8px;
    }
}

.container-info {
    margin-left: 10px;
    text-align: left;

    img {
        width: 20px;
        height: auto;
    }

    span {
        font-size: 12px;
        margin-left: 5px;
    }
}

.position {
    span {
        font-size: 13px;
    }
}