<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center align-items-center  vh-100">
            <div class="col-12 col-md-4">
                <form class="border shadow p-5 bg-white" #form="ngForm" (ngSubmit)="registrati(form)">
    
                    <span>
                        <a [routerLink]="['/login']">
                            <i class="fas fa-long-arrow-alt-left"></i>
                        </a>
                    </span>
    
                    <!-- Email input -->
                    <mdb-form-control class="mb-4">
                        <input mdbInput type="text" id="form1" class="form-control" name="name" #name="ngModel"
                            ngModel required />
                        <label mdbLabel class="form-label" for="form1">Name</label>
                    </mdb-form-control>

                    <!-- Password input -->
                    <mdb-form-control class="mb-4">
                        <input mdbInput type="text" id="form1" class="form-control" name="surname"
                            #surname="ngModel" ngModel required />
                        <label mdbLabel class="form-label" for="form1">Surname</label>
                    </mdb-form-control>

    
                    <!-- Email input -->
                    <mdb-form-control class="mb-4">
                        <input mdbInput type="email" id="form1" class="form-control" name="email" #email="ngModel"
                            ngModel required />
                        <label mdbLabel class="form-label" for="form1">Email</label>
                    </mdb-form-control>

                    <!-- Password input -->
                    <mdb-form-control class="mb-4">
                        <input mdbInput type="password" id="form1" class="form-control" name="password"
                            #password="ngModel" ngModel required />
                        <label mdbLabel class="form-label" for="form1">Password</label>
                    </mdb-form-control>

    
                    <div class="container bg-white none" id="error">
                        <h5 *ngIf="err" class="text-danger text-center mt-3">{{err}}</h5>
                    </div>
    
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">Registarti</button>
                </form>
            </div>
        </div>
    </div>
</div>