<nav class="navbar navbar-expand-lg bg-blue pt-3">
    <div class="container-fluid justify-content-between align-items-baseline text-white">
        <div class="d-flex align-items-baseline">
            <i class="fas fa-arrow-left icon-nav" (click)="back()"></i>
            <p class="ms-3">Listone</p>
        </div>
        <i class="fas fa-sync text-white mx-3" (click)="reload()"></i>
    </div>
</nav>


<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-8 mt-4 mb-5">
            <form class="input-group" #s="ngForm" (ngSubmit)="cerca(s)">
                <div class="position-relative">
                    <i class="fas fa-search mb-4 position-absolute" (click)="searchForm()"></i>
                    <input type="search" class="d-none searchBar w-100" aria-label="Search" name="search" #search="ngModel"
                        ngModel />
                </div>
            </form>
        </div>
        <div class="col-12 mb-4 text-center d-none" id="errore">
            <div class="border border-danger border-2 rounded-5 bg-danger opacity-75">
             <p class="text-white pt-3">Effettua una ricerca con minimo 4 lettere</p>
            </div>
         </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-8 mb-4" *ngFor="let s of searchPlayer">
            <div class="row justify-content-evenly align-items-center border-bottom pb-3">
                <div class="col-8 d-flex">
                    <img src="{{s.player.photo}}" class="player_img border border-2" [ngClass]="{
                        'border-danger': searchStat.games.position == 'Attacker',
                        'border-primary': searchStat.games.position == 'Midfielder',
                        'border-success': searchStat.games.position == 'Defender',
                        'border-warning': searchStat.games.position == 'Goalkeeper'}">
                    <div class="container-info">
                        <h6>{{s.player.name}}</h6>
                        <img src="{{searchStat.team.logo}}" width="30px">
                        <span>{{searchStat.team.name}}</span>
                        <i class="fas fa-info-circle mx-1" [routerLink]="['/details/' + s.player.id]" [ngClass]="{
                            'text-danger': searchStat.games.position == 'Attacker',
                            'text-primary': searchStat.games.position == 'Midfielder',
                            'text-success': searchStat.games.position == 'Defender',
                            'text-warning': searchStat.games.position == 'Goalkeeper'}"></i>
                    </div>
                </div>
                <div class="col-4 position">
                    <span [ngClass]="{
                        'bg-danger': searchStat.games.position == 'Attacker',
                        'bg-primary': searchStat.games.position == 'Midfielder',
                        'bg-success': searchStat.games.position == 'Defender',
                        'bg-warning': searchStat.games.position == 'Goalkeeper'}" class="text-white rounded-3 p-1">
                        {{searchStat.games.position}}
                    </span>
                    <span>{{searchStat.games.rating}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-3" id="all">
    <div class="row justify-content-center align-items-center text-center">

        <div class="col-8 mb-4" *ngFor="let p of giocatoriRoma" >
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriNapoli">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriMilan">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriJuve">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriInter">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriLazio">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriAtalanta">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriUdinese">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriTorino">
            <app-player-list [p]="p"></app-player-list>
        </div>


        <div class="col-8 mb-4" *ngFor="let p of giocatoriFiorentina">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriBologna">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriSalernitana">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriEmpoli">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriMonza">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriSassuolo">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriSpezia">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriCremonese">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriSampdoria">
            <app-player-list [p]="p"></app-player-list>
        </div>

        <div class="col-8 mb-4" *ngFor="let p of giocatoriVerona">
            <app-player-list [p]="p"></app-player-list>
        </div>
        

    </div>
</div>
