<div *ngIf="n.id != 1 && n.id <= 3">
    <div class="row g-0" [routerLink]="['/dettaglio/' + n.id]">
        <div class="col-8 col-md-8">
            <div class="card-body">
                <p class="card-text text-blue">{{n.title}} <span
                        [ngClass]="{'bg-warning': n.category == 'Calciomercato', 'bg-danger': n.category == 'Consigli Fantacalcio', 'bg-success': n.category == 'Ultime Notizie'}"
                        class="text-white category">{{n.category}}</span>
                </p>
            </div>
        </div>
        <div class="col-4 col-md-4">
            <img src="{{n.img}}" alt="{{n.img}}" class="img-fluid" />
        </div>
    </div>
</div>