// IMPOSTAZIONI GENERALI
.bg-blue {
    background: linear-gradient(0.25turn, #091768, #066779, #00E895);
    height: 50px;
}

.text-blue {
    color: #091768;
}

// NAVBAR
.navbar {
    i {
        font-size: 20px;
        cursor: pointer;
        color: white;
    }
}

// CATEGORIE
.button-category {
    font-size: 13px;
    color: #091768;
    padding: 10px;
    border: 1px solid lightgrey;
    text-transform: capitalize;
    margin-right: 10px;
}

// CARD
.card {
    cursor: pointer;
    margin: 0px auto;
    width: fit-content;
    height: 100px;

    .card-body {
        width: 220px;

        .card-text {
            font-size: 14px;
            width: 200px;
            font-weight: bold;
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .category {
            width: fit-content;
            padding: 2px;
            border-radius: 5px;
            font-size: 13px;
        }
    }

    .image {
        overflow: hidden;

        img {
            height: auto;
            width: 200px;
            border-radius: 10px;
            transition: all 0.5s ease-in-out;
        }

        img:hover {
            transform: scale(1.2);
        }
    }
}

// TEAMS
.teams {
    background-color: rgb(211, 211, 211, 0.1);
    img {
        height: 25px;
        width: 20px;
        cursor: pointer;
    }
}

// LOADING
.container-rotate {
    background: linear-gradient(0.25turn, #091768, #066779, #00E895);

    .rotate {
        animation: ruota 1s ease-in-out infinite;
        height: auto;
        width: 100px;
    }
}

@keyframes ruota {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// MEDIA QUERY
@media screen and (max-width:768px) {
    .card {
        height: 90px;

        .row {
            .card-text {
                font-size: 10.5px;
                width: 160px;
            }

            .category {
                width: fit-content;
                padding: 2px;
                border-radius: 5px;
                font-size: 11px;
            }
        }
    }

    .button-category {
        font-size: 11px;
    }

}