.bg-blue {
    background-color: rgb(74, 74, 230);
}

.navbar{
    i{
        color: white;
        font-size: 20px;
    }
}

.submit{
    position: absolute;
    top: 15px;
    right: 30px;
    border: none;
    background-color: transparent;

    i{
        color: white;
        font-size: 20px;
    }
}